venv/
data/chroma/
__pycache__/
.env
*.pyc
.ipynb_checkpoints/
models/
.gitattributes
node_modules/
ui/node_modules
.DS_Store
ui/.next
ui/.env.local

.env
.env.*
ui/.env.local

.env
.env.*
ui/.env.local
